<! DOCTYPE html>

    <html>
        <head>
            <title>Calculadora</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <script src="/js/app.js"></script>
        </head>

        <body>
            <div>
                <form method="GET">

                    <h2>Calculadora del curos de Archivos</h2>
                    <div>
                        <label>Ingrese el primer numero</label>
                        <input type="number" id="num1" name="num1" required />
                    </div>
                    <div>
                        <label>Ingrese el segundo numero</label>
                        <input type="number" id="num2" name="num2" required />
                    </div>
                    <div>
                        <select name="operador" id="operador">
                            <option value="suma">Suma</option>
                            <option value="resta">Resta</option>
                            <option value="multiplicacion">Multiplicaci&oacute;n</option>
                            <option value="division">Divisi&oacute;n</option>
                            <option value="potencia">potencia</option>
                        </select><br />
                    </div>
                   <br>
                    <button class="button-submit" type="button" onclick="calcular();">calcular</button> <br>            
                   
                </form>
            </div>
        </body>
    </html>