<html>
    <head>
        <title>help</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="nav justify-content-center">
            <header>
                <nav>
                    <ul id="menu">
                        <li><a href="/">Inicio calculadora</a></li>
                        <li><a href="">Herramientas</a>
                            <ul>
                                <li><a href="/help">Ayuda</a></li>
                            </ul>
                        </li>
                        <li><a href="">Creditos</a>
                            <ul>
                                <li><a href="/about">Acerca de</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <a href="https://classroom.google.com/u/0/c/MzcxMTAzNzA0Njkx?hl=es"
                target="_blank"> ir al curso en classroom </a>
        </div>
    </body>
</html>